.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.agenda-section{
  width: 165vh;
}
.month {
    width: 100%;
    margin-bottom: 20px;
}

.month-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width: calc(100% / 1); /* Por defecto, una columna */
    min-height: 100px;
    position: relative;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.task input[type="text"] {
    flex-grow: 1;
    margin-right: 5px;
}

.task-button {
    margin-left: 5px;
}

.task-input {
    margin-top: 10px;
}

.week-container {
    margin-bottom: 20px;
}
.week-label {
    font-weight: bold;
    margin-bottom: 10px;
}
.week { 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.day { 
    border: 1px solid #000; 
    padding: 10px; 
    margin: 5px; 
    box-sizing: border-box;
    flex: 1 1 calc(14.28% - 10px); /* 7 días en una fila, menos margen */
}
.day-header { 
    font-weight: bold; 
    margin-bottom: 10px; 
}
.task-input, .task { 
    margin-top: 10px; 
}
.task-details { 
    margin-bottom: 10px; 
}
.task-button { 
    margin-right: 5px; 
}