:root {
    --bar-color: black;
    --fill-size: 80%;
}
.progress-bar-two{
    position: relative;
    width:750px;
    height: 20px;
    background-color: royalblue;
    border-radius: 2em;
    align-items: center;
    overflow: hidden;
}
.progress-bar-two::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translateX(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar {
    to {
      transform: translateX(var(--fill-size));
    }
}