body {
    background-color:#14161e ;
    color: aliceblue;
}
main {
    background-color: #0d0e14;
    position: absolute;
    align-items: center;
    right: 1px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
  }